USE [master]
GO
/****** Объект:  Database [CodeReviewSystem]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
CREATE DATABASE [CodeReviewSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeReviewSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CodeReviewSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CodeReviewSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CodeReviewSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeReviewSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeReviewSystem]
GO
/****** Объект:  Table [dbo].[CICDStatuses]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CICDStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Comments]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[PullRequestID] [int] NOT NULL,
	[DeveloperID] [int] NOT NULL,
	[CommentText] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Developers]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Developers](
	[DeveloperID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[RoleID] [int] NULL,
	[ExperienceYears] [int] NULL,
	[PasswordHash] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeveloperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Projects]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](100) NOT NULL,
	[RepositoryURL] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[PullRequests]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PullRequests](
	[PullRequestID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[AuthorID] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[IterationsCount] [int] NULL,
	[ReviewTimeHours] [decimal](5, 2) NULL,
	[ImageData] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PullRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[QualityMetrics]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityMetrics](
	[MetricID] [int] IDENTITY(1,1) NOT NULL,
	[PullRequestID] [int] NOT NULL,
	[TestCoveragePercent] [decimal](5, 2) NULL,
	[CodeComplexity] [int] NULL,
	[BugsFound] [int] NULL,
	[CICDStatusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MetricID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ReviewAssignments]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewAssignments](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[PullRequestID] [int] NOT NULL,
	[ReviewerID] [int] NOT NULL,
	[AssignedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Roles]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CICDStatuses] ON 

INSERT [dbo].[CICDStatuses] ([StatusID], [StatusName], [Description]) VALUES (1, N'Passed', N'All checks passed')
INSERT [dbo].[CICDStatuses] ([StatusID], [StatusName], [Description]) VALUES (2, N'Failed', N'Checks failed')
INSERT [dbo].[CICDStatuses] ([StatusID], [StatusName], [Description]) VALUES (3, N'Running', N'Pipeline running')
SET IDENTITY_INSERT [dbo].[CICDStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [PullRequestID], [DeveloperID], [CommentText], [CreatedAt]) VALUES (1, 1, 1, N'Code style issue found in review comment #1', CAST(N'2026-05-09T01:35:52.683' AS DateTime))
INSERT [dbo].[Comments] ([CommentID], [PullRequestID], [DeveloperID], [CommentText], [CreatedAt]) VALUES (2, 2, 2, N'Code style issue found in review comment #2', CAST(N'2026-05-09T01:35:52.683' AS DateTime))
INSERT [dbo].[Comments] ([CommentID], [PullRequestID], [DeveloperID], [CommentText], [CreatedAt]) VALUES (3, 3, 3, N'Code style issue found in review comment #3', CAST(N'2026-05-09T01:35:52.683' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Developers] ON 

INSERT [dbo].[Developers] ([DeveloperID], [FullName], [Email], [RoleID], [ExperienceYears], [PasswordHash]) VALUES (1, N'Ivan Petrov', N'ivan.petrov@mail.com', 1, 2, N'123456')
INSERT [dbo].[Developers] ([DeveloperID], [FullName], [Email], [RoleID], [ExperienceYears], [PasswordHash]) VALUES (2, N'Anna Smirnova', N'anna@mail.com', 2, 5, N'123456')
INSERT [dbo].[Developers] ([DeveloperID], [FullName], [Email], [RoleID], [ExperienceYears], [PasswordHash]) VALUES (3, N'Dmitry Kozlov', N'dmitry@mail.com', 1, 3, N'123456')
SET IDENTITY_INSERT [dbo].[Developers] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [RepositoryURL], [CreatedAt]) VALUES (1, N'Project_1', N'https://github.com/company/project_1', CAST(N'2026-05-09T01:35:52.650' AS DateTime))
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [RepositoryURL], [CreatedAt]) VALUES (2, N'Project_2', N'https://github.com/company/project_2', CAST(N'2026-05-09T01:35:52.650' AS DateTime))
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [RepositoryURL], [CreatedAt]) VALUES (3, N'Project_3', N'https://github.com/company/project_3', CAST(N'2026-05-09T01:35:52.650' AS DateTime))
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[PullRequests] ON 

INSERT [dbo].[PullRequests] ([PullRequestID], [ProjectID], [AuthorID], [Title], [Description], [CreatedAt], [Status], [IterationsCount], [ReviewTimeHours], [ImageData]) VALUES (1, 1, 1, N'Feature Update #1', N'Implementation of feature update #1', CAST(N'2026-05-09T01:35:52.653' AS DateTime), N'Closed', 2, CAST(2.00 AS Decimal(5, 2)), 0x)
INSERT [dbo].[PullRequests] ([PullRequestID], [ProjectID], [AuthorID], [Title], [Description], [CreatedAt], [Status], [IterationsCount], [ReviewTimeHours], [ImageData]) VALUES (2, 2, 2, N'Feature Update #2', N'Implementation of feature update #2', CAST(N'2026-05-09T01:35:52.653' AS DateTime), N'Merged', 3, CAST(3.00 AS Decimal(5, 2)), 0x)
INSERT [dbo].[PullRequests] ([PullRequestID], [ProjectID], [AuthorID], [Title], [Description], [CreatedAt], [Status], [IterationsCount], [ReviewTimeHours], [ImageData]) VALUES (3, 3, 3, N'Feature Update #3', N'Implementation of feature update #3', CAST(N'2026-05-09T01:35:52.653' AS DateTime), N'Open', 4, CAST(4.00 AS Decimal(5, 2)), 0x)
GO
SET IDENTITY_INSERT [dbo].[PullRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[QualityMetrics] ON 

INSERT [dbo].[QualityMetrics] ([MetricID], [PullRequestID], [TestCoveragePercent], [CodeComplexity], [BugsFound], [CICDStatusID]) VALUES (1, 1, CAST(61.00 AS Decimal(5, 2)), 2, 1, 1)
INSERT [dbo].[QualityMetrics] ([MetricID], [PullRequestID], [TestCoveragePercent], [CodeComplexity], [BugsFound], [CICDStatusID]) VALUES (2, 2, CAST(62.00 AS Decimal(5, 2)), 3, 2, 2)
INSERT [dbo].[QualityMetrics] ([MetricID], [PullRequestID], [TestCoveragePercent], [CodeComplexity], [BugsFound], [CICDStatusID]) VALUES (3, 3, CAST(63.00 AS Decimal(5, 2)), 4, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[QualityMetrics] OFF
GO
SET IDENTITY_INSERT [dbo].[ReviewAssignments] ON 

INSERT [dbo].[ReviewAssignments] ([AssignmentID], [PullRequestID], [ReviewerID], [AssignedAt]) VALUES (1, 1, 5, CAST(N'2026-05-09T01:35:52.670' AS DateTime))
INSERT [dbo].[ReviewAssignments] ([AssignmentID], [PullRequestID], [ReviewerID], [AssignedAt]) VALUES (2, 2, 6, CAST(N'2026-05-09T01:35:52.670' AS DateTime))
INSERT [dbo].[ReviewAssignments] ([AssignmentID], [PullRequestID], [ReviewerID], [AssignedAt]) VALUES (3, 3, 7, CAST(N'2026-05-09T01:35:52.670' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ReviewAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'User')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Develope__A9D105340B4D34AD]    Дата создания скрипта: 09.05.2026 12:29:17 ******/ 
ALTER TABLE [dbo].[Developers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PullRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReviewAssignments] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([DeveloperID])
REFERENCES [dbo].[Developers] ([DeveloperID])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([PullRequestID])
REFERENCES [dbo].[PullRequests] ([PullRequestID])
GO
ALTER TABLE [dbo].[Developers]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[PullRequests]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Developers] ([DeveloperID])
GO
ALTER TABLE [dbo].[PullRequests]  WITH CHECK ADD FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[QualityMetrics]  WITH CHECK ADD FOREIGN KEY([CICDStatusID])
REFERENCES [dbo].[CICDStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[QualityMetrics]  WITH CHECK ADD FOREIGN KEY([PullRequestID])
REFERENCES [dbo].[PullRequests] ([PullRequestID])
GO
ALTER TABLE [dbo].[ReviewAssignments]  WITH CHECK ADD FOREIGN KEY([PullRequestID])
REFERENCES [dbo].[PullRequests] ([PullRequestID])
GO
ALTER TABLE [dbo].[ReviewAssignments]  WITH CHECK ADD FOREIGN KEY([ReviewerID])
REFERENCES [dbo].[Developers] ([DeveloperID])
GO
USE [master]
GO
